{% include "header.html" %}
<body>
<div id="paper">
    <div id="pattern">
        <div id="content">
            {% for row in todo: %}
            {% for item in row: %}
            {% if item == row[0]: %}
            <h4>{{ item }}</h4>
            {% else: %}
            <ul>
                <li>{{ item }}</li>
            </ul>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div

<a href="{{ url_for('add_to_list') }}"><button>Add Item to List</button></a>
<a href="{{ url_for('new_list') }}"><button>Create New List</button></a>
<a href="{{ url_for('delete_list') }}"><button>Delete List</button></a>
<a href="{{ url_for('remove') }}"><button onclick="removeItems()">Remove Completed</button></a>

{% include "footer.html" %}
